src/wsdl/ApiInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.testbed.deterlab.net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://api.testbed.deterlab.net/">
    <wsdl:documentation>ApiInfo</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
            <xs:element name="getVersion">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:VersionDescription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="VersionDescription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="keyID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="patchLevel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="echo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ApiInfoDeterFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="DeterFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getServerCertificate">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerCertificateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClientCertificate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClientCertificateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getVersionRequest">
        <wsdl:part name="parameters" element="ns:getVersion"/>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part name="parameters" element="ns:getVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="getClientCertificateRequest">
        <wsdl:part name="parameters" element="ns:getClientCertificate"/>
    </wsdl:message>
    <wsdl:message name="getClientCertificateResponse">
        <wsdl:part name="parameters" element="ns:getClientCertificateResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiInfoDeterFault">
        <wsdl:part name="parameters" element="ns:ApiInfoDeterFault"/>
    </wsdl:message>
    <wsdl:message name="getServerCertificateRequest">
        <wsdl:part name="parameters" element="ns:getServerCertificate"/>
    </wsdl:message>
    <wsdl:message name="getServerCertificateResponse">
        <wsdl:part name="parameters" element="ns:getServerCertificateResponse"/>
    </wsdl:message>
    <wsdl:message name="echoRequest">
        <wsdl:part name="parameters" element="ns:echo"/>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part name="parameters" element="ns:echoResponse"/>
    </wsdl:message>
    <wsdl:portType name="ApiInfoPortType">
        <wsdl:operation name="getVersion">
            <wsdl:input message="tns:getVersionRequest" wsaw:Action="urn:getVersion"/>
            <wsdl:output message="tns:getVersionResponse" wsaw:Action="urn:getVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getClientCertificate">
            <wsdl:input message="tns:getClientCertificateRequest" wsaw:Action="urn:getClientCertificate"/>
            <wsdl:output message="tns:getClientCertificateResponse" wsaw:Action="urn:getClientCertificateResponse"/>
            <wsdl:fault message="tns:ApiInfoDeterFault" name="ApiInfoDeterFault" wsaw:Action="urn:getClientCertificateApiInfoDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getServerCertificate">
            <wsdl:input message="tns:getServerCertificateRequest" wsaw:Action="urn:getServerCertificate"/>
            <wsdl:output message="tns:getServerCertificateResponse" wsaw:Action="urn:getServerCertificateResponse"/>
            <wsdl:fault message="tns:ApiInfoDeterFault" name="ApiInfoDeterFault" wsaw:Action="urn:getServerCertificateApiInfoDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <wsdl:input message="tns:echoRequest" wsaw:Action="urn:echo"/>
            <wsdl:output message="tns:echoResponse" wsaw:Action="urn:echoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApiInfoSoap11Binding" type="tns:ApiInfoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVersion">
            <soap:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientCertificate">
            <soap:operation soapAction="urn:getClientCertificate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiInfoDeterFault">
                <soap:fault use="literal" name="ApiInfoDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerCertificate">
            <soap:operation soapAction="urn:getServerCertificate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiInfoDeterFault">
                <soap:fault use="literal" name="ApiInfoDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <soap:operation soapAction="urn:echo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApiInfoSoap12Binding" type="tns:ApiInfoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVersion">
            <soap12:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientCertificate">
            <soap12:operation soapAction="urn:getClientCertificate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiInfoDeterFault">
                <soap12:fault use="literal" name="ApiInfoDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerCertificate">
            <soap12:operation soapAction="urn:getServerCertificate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiInfoDeterFault">
                <soap12:fault use="literal" name="ApiInfoDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <soap12:operation soapAction="urn:echo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApiInfoHttpBinding" type="tns:ApiInfoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getVersion">
            <http:operation location="getVersion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientCertificate">
            <http:operation location="getClientCertificate"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServerCertificate">
            <http:operation location="getServerCertificate"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <http:operation location="echo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApiInfo">
        <wsdl:port name="ApiInfoHttpsSoap11Endpoint" binding="tns:ApiInfoSoap11Binding">
            <soap:address location="https://192.168.56.103:52323/axis2/services/ApiInfo.ApiInfoHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ApiInfoHttpsSoap12Endpoint" binding="tns:ApiInfoSoap12Binding">
            <soap12:address location="https://192.168.56.103:52323/axis2/services/ApiInfo.ApiInfoHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ApiInfoHttpsEndpoint" binding="tns:ApiInfoHttpBinding">
            <http:address location="https://192.168.56.103:52323/axis2/services/ApiInfo.ApiInfoHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
