src/wsdl/Circles.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://api.testbed.deterlab/net/">
    <wsdl:documentation>Circles</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
            <xs:element name="CirclesDeterFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="DeterFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="setOwner">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setOwnerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUsers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="uids" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="perms" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="urlPrefix" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ApiObject">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ChangeResult">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="createCircleAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formatdescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="order" type="xs:int"/>
                        <xs:element minOccurs="0" name="length" type="xs:int"/>
                        <xs:element minOccurs="0" name="def" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createCircleAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyCircleAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formatdescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="order" type="xs:int"/>
                        <xs:element minOccurs="0" name="length" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyCircleAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeCircleAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeCircleAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidPermissions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidPermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createCircle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profile" nillable="true" type="ns:Attribute"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Attribute">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="formatDescription" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="lengthHint" type="xs:int"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="orderingHint" type="xs:int"/>
                            <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="createCircleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeCircle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeCircleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileDescription">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileDescriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Profile">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="ns:Attribute"/>
                            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="getCircleProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCircleProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeCircleProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="changes" nillable="true" type="ns:ChangeAttribute"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ChangeAttribute">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="delete" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="changeCircleProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="joinCircle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="urlPrefix" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="joinCircleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="joinCircleConfirm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="challengeId" type="xs:long"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="perms" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="joinCircleConfirmResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserConfirm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="challengeId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserConfirmResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUsersNoConfirm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="uids" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="perms" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUsersNoConfirmResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="uids" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="perms" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUsers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="circleid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="uids" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewCircles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="regex" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewCirclesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:CircleDescription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="CircleDescription">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="circleId" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="members" nillable="true" type="ns:Member"/>
                            <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Member">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCircleProfileRequest">
        <wsdl:part name="parameters" element="ns:getCircleProfile"/>
    </wsdl:message>
    <wsdl:message name="getCircleProfileResponse">
        <wsdl:part name="parameters" element="ns:getCircleProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="CirclesDeterFault">
        <wsdl:part name="parameters" element="ns:CirclesDeterFault"/>
    </wsdl:message>
    <wsdl:message name="joinCircleConfirmRequest">
        <wsdl:part name="parameters" element="ns:joinCircleConfirm"/>
    </wsdl:message>
    <wsdl:message name="joinCircleConfirmResponse">
        <wsdl:part name="parameters" element="ns:joinCircleConfirmResponse"/>
    </wsdl:message>
    <wsdl:message name="addUsersNoConfirmRequest">
        <wsdl:part name="parameters" element="ns:addUsersNoConfirm"/>
    </wsdl:message>
    <wsdl:message name="addUsersNoConfirmResponse">
        <wsdl:part name="parameters" element="ns:addUsersNoConfirmResponse"/>
    </wsdl:message>
    <wsdl:message name="viewCirclesRequest">
        <wsdl:part name="parameters" element="ns:viewCircles"/>
    </wsdl:message>
    <wsdl:message name="viewCirclesResponse">
        <wsdl:part name="parameters" element="ns:viewCirclesResponse"/>
    </wsdl:message>
    <wsdl:message name="createCircleAttributeRequest">
        <wsdl:part name="parameters" element="ns:createCircleAttribute"/>
    </wsdl:message>
    <wsdl:message name="createCircleAttributeResponse">
        <wsdl:part name="parameters" element="ns:createCircleAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="addUserConfirmRequest">
        <wsdl:part name="parameters" element="ns:addUserConfirm"/>
    </wsdl:message>
    <wsdl:message name="addUserConfirmResponse">
        <wsdl:part name="parameters" element="ns:addUserConfirmResponse"/>
    </wsdl:message>
    <wsdl:message name="createCircleRequest">
        <wsdl:part name="parameters" element="ns:createCircle"/>
    </wsdl:message>
    <wsdl:message name="createCircleResponse">
        <wsdl:part name="parameters" element="ns:createCircleResponse"/>
    </wsdl:message>
    <wsdl:message name="removeCircleRequest">
        <wsdl:part name="parameters" element="ns:removeCircle"/>
    </wsdl:message>
    <wsdl:message name="removeCircleResponse">
        <wsdl:part name="parameters" element="ns:removeCircleResponse"/>
    </wsdl:message>
    <wsdl:message name="setOwnerRequest">
        <wsdl:part name="parameters" element="ns:setOwner"/>
    </wsdl:message>
    <wsdl:message name="setOwnerResponse">
        <wsdl:part name="parameters" element="ns:setOwnerResponse"/>
    </wsdl:message>
    <wsdl:message name="addUsersRequest">
        <wsdl:part name="parameters" element="ns:addUsers"/>
    </wsdl:message>
    <wsdl:message name="addUsersResponse">
        <wsdl:part name="parameters" element="ns:addUsersResponse"/>
    </wsdl:message>
    <wsdl:message name="removeCircleAttributeRequest">
        <wsdl:part name="parameters" element="ns:removeCircleAttribute"/>
    </wsdl:message>
    <wsdl:message name="removeCircleAttributeResponse">
        <wsdl:part name="parameters" element="ns:removeCircleAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="changeCircleProfileRequest">
        <wsdl:part name="parameters" element="ns:changeCircleProfile"/>
    </wsdl:message>
    <wsdl:message name="changeCircleProfileResponse">
        <wsdl:part name="parameters" element="ns:changeCircleProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="joinCircleRequest">
        <wsdl:part name="parameters" element="ns:joinCircle"/>
    </wsdl:message>
    <wsdl:message name="joinCircleResponse">
        <wsdl:part name="parameters" element="ns:joinCircleResponse"/>
    </wsdl:message>
    <wsdl:message name="removeUsersRequest">
        <wsdl:part name="parameters" element="ns:removeUsers"/>
    </wsdl:message>
    <wsdl:message name="removeUsersResponse">
        <wsdl:part name="parameters" element="ns:removeUsersResponse"/>
    </wsdl:message>
    <wsdl:message name="getValidPermissionsRequest">
        <wsdl:part name="parameters" element="ns:getValidPermissions"/>
    </wsdl:message>
    <wsdl:message name="getValidPermissionsResponse">
        <wsdl:part name="parameters" element="ns:getValidPermissionsResponse"/>
    </wsdl:message>
    <wsdl:message name="changePermissionsRequest">
        <wsdl:part name="parameters" element="ns:changePermissions"/>
    </wsdl:message>
    <wsdl:message name="changePermissionsResponse">
        <wsdl:part name="parameters" element="ns:changePermissionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getProfileDescriptionRequest">
        <wsdl:part name="parameters" element="ns:getProfileDescription"/>
    </wsdl:message>
    <wsdl:message name="getProfileDescriptionResponse">
        <wsdl:part name="parameters" element="ns:getProfileDescriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="modifyCircleAttributeRequest">
        <wsdl:part name="parameters" element="ns:modifyCircleAttribute"/>
    </wsdl:message>
    <wsdl:message name="modifyCircleAttributeResponse">
        <wsdl:part name="parameters" element="ns:modifyCircleAttributeResponse"/>
    </wsdl:message>
    <wsdl:portType name="CirclesPortType">
        <wsdl:operation name="getCircleProfile">
            <wsdl:input message="tns:getCircleProfileRequest" wsaw:Action="urn:getCircleProfile"/>
            <wsdl:output message="tns:getCircleProfileResponse" wsaw:Action="urn:getCircleProfileResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:getCircleProfileCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="joinCircleConfirm">
            <wsdl:input message="tns:joinCircleConfirmRequest" wsaw:Action="urn:joinCircleConfirm"/>
            <wsdl:output message="tns:joinCircleConfirmResponse" wsaw:Action="urn:joinCircleConfirmResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:joinCircleConfirmCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="addUsersNoConfirm">
            <wsdl:input message="tns:addUsersNoConfirmRequest" wsaw:Action="urn:addUsersNoConfirm"/>
            <wsdl:output message="tns:addUsersNoConfirmResponse" wsaw:Action="urn:addUsersNoConfirmResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:addUsersNoConfirmCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="viewCircles">
            <wsdl:input message="tns:viewCirclesRequest" wsaw:Action="urn:viewCircles"/>
            <wsdl:output message="tns:viewCirclesResponse" wsaw:Action="urn:viewCirclesResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:viewCirclesCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="createCircleAttribute">
            <wsdl:input message="tns:createCircleAttributeRequest" wsaw:Action="urn:createCircleAttribute"/>
            <wsdl:output message="tns:createCircleAttributeResponse" wsaw:Action="urn:createCircleAttributeResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:createCircleAttributeCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="addUserConfirm">
            <wsdl:input message="tns:addUserConfirmRequest" wsaw:Action="urn:addUserConfirm"/>
            <wsdl:output message="tns:addUserConfirmResponse" wsaw:Action="urn:addUserConfirmResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:addUserConfirmCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="createCircle">
            <wsdl:input message="tns:createCircleRequest" wsaw:Action="urn:createCircle"/>
            <wsdl:output message="tns:createCircleResponse" wsaw:Action="urn:createCircleResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:createCircleCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeCircle">
            <wsdl:input message="tns:removeCircleRequest" wsaw:Action="urn:removeCircle"/>
            <wsdl:output message="tns:removeCircleResponse" wsaw:Action="urn:removeCircleResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:removeCircleCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <wsdl:input message="tns:setOwnerRequest" wsaw:Action="urn:setOwner"/>
            <wsdl:output message="tns:setOwnerResponse" wsaw:Action="urn:setOwnerResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:setOwnerCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="addUsers">
            <wsdl:input message="tns:addUsersRequest" wsaw:Action="urn:addUsers"/>
            <wsdl:output message="tns:addUsersResponse" wsaw:Action="urn:addUsersResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:addUsersCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeCircleAttribute">
            <wsdl:input message="tns:removeCircleAttributeRequest" wsaw:Action="urn:removeCircleAttribute"/>
            <wsdl:output message="tns:removeCircleAttributeResponse" wsaw:Action="urn:removeCircleAttributeResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:removeCircleAttributeCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changeCircleProfile">
            <wsdl:input message="tns:changeCircleProfileRequest" wsaw:Action="urn:changeCircleProfile"/>
            <wsdl:output message="tns:changeCircleProfileResponse" wsaw:Action="urn:changeCircleProfileResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:changeCircleProfileCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="joinCircle">
            <wsdl:input message="tns:joinCircleRequest" wsaw:Action="urn:joinCircle"/>
            <wsdl:output message="tns:joinCircleResponse" wsaw:Action="urn:joinCircleResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:joinCircleCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeUsers">
            <wsdl:input message="tns:removeUsersRequest" wsaw:Action="urn:removeUsers"/>
            <wsdl:output message="tns:removeUsersResponse" wsaw:Action="urn:removeUsersResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:removeUsersCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <wsdl:input message="tns:getValidPermissionsRequest" wsaw:Action="urn:getValidPermissions"/>
            <wsdl:output message="tns:getValidPermissionsResponse" wsaw:Action="urn:getValidPermissionsResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:getValidPermissionsCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changePermissions">
            <wsdl:input message="tns:changePermissionsRequest" wsaw:Action="urn:changePermissions"/>
            <wsdl:output message="tns:changePermissionsResponse" wsaw:Action="urn:changePermissionsResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:changePermissionsCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <wsdl:input message="tns:getProfileDescriptionRequest" wsaw:Action="urn:getProfileDescription"/>
            <wsdl:output message="tns:getProfileDescriptionResponse" wsaw:Action="urn:getProfileDescriptionResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:getProfileDescriptionCirclesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="modifyCircleAttribute">
            <wsdl:input message="tns:modifyCircleAttributeRequest" wsaw:Action="urn:modifyCircleAttribute"/>
            <wsdl:output message="tns:modifyCircleAttributeResponse" wsaw:Action="urn:modifyCircleAttributeResponse"/>
            <wsdl:fault message="tns:CirclesDeterFault" name="CirclesDeterFault" wsaw:Action="urn:modifyCircleAttributeCirclesDeterFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CirclesSoap11Binding" type="tns:CirclesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCircleProfile">
            <soap:operation soapAction="urn:getCircleProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="joinCircleConfirm">
            <soap:operation soapAction="urn:joinCircleConfirm" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUsersNoConfirm">
            <soap:operation soapAction="urn:addUsersNoConfirm" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="viewCircles">
            <soap:operation soapAction="urn:viewCircles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createCircleAttribute">
            <soap:operation soapAction="urn:createCircleAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUserConfirm">
            <soap:operation soapAction="urn:addUserConfirm" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createCircle">
            <soap:operation soapAction="urn:createCircle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeCircle">
            <soap:operation soapAction="urn:removeCircle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <soap:operation soapAction="urn:setOwner" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUsers">
            <soap:operation soapAction="urn:addUsers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeCircleAttribute">
            <soap:operation soapAction="urn:removeCircleAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeCircleProfile">
            <soap:operation soapAction="urn:changeCircleProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="joinCircle">
            <soap:operation soapAction="urn:joinCircle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeUsers">
            <soap:operation soapAction="urn:removeUsers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <soap:operation soapAction="urn:getValidPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePermissions">
            <soap:operation soapAction="urn:changePermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <soap:operation soapAction="urn:getProfileDescription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyCircleAttribute">
            <soap:operation soapAction="urn:modifyCircleAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CirclesSoap12Binding" type="tns:CirclesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCircleProfile">
            <soap12:operation soapAction="urn:getCircleProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="joinCircleConfirm">
            <soap12:operation soapAction="urn:joinCircleConfirm" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUsersNoConfirm">
            <soap12:operation soapAction="urn:addUsersNoConfirm" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="viewCircles">
            <soap12:operation soapAction="urn:viewCircles" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createCircleAttribute">
            <soap12:operation soapAction="urn:createCircleAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUserConfirm">
            <soap12:operation soapAction="urn:addUserConfirm" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createCircle">
            <soap12:operation soapAction="urn:createCircle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeCircle">
            <soap12:operation soapAction="urn:removeCircle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <soap12:operation soapAction="urn:setOwner" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUsers">
            <soap12:operation soapAction="urn:addUsers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeCircleAttribute">
            <soap12:operation soapAction="urn:removeCircleAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeCircleProfile">
            <soap12:operation soapAction="urn:changeCircleProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="joinCircle">
            <soap12:operation soapAction="urn:joinCircle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeUsers">
            <soap12:operation soapAction="urn:removeUsers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <soap12:operation soapAction="urn:getValidPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePermissions">
            <soap12:operation soapAction="urn:changePermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <soap12:operation soapAction="urn:getProfileDescription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyCircleAttribute">
            <soap12:operation soapAction="urn:modifyCircleAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CirclesDeterFault">
                <soap12:fault use="literal" name="CirclesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CirclesHttpBinding" type="tns:CirclesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getCircleProfile">
            <http:operation location="getCircleProfile"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="joinCircleConfirm">
            <http:operation location="joinCircleConfirm"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUsersNoConfirm">
            <http:operation location="addUsersNoConfirm"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewCircles">
            <http:operation location="viewCircles"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCircleAttribute">
            <http:operation location="createCircleAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUserConfirm">
            <http:operation location="addUserConfirm"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCircle">
            <http:operation location="createCircle"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeCircle">
            <http:operation location="removeCircle"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <http:operation location="setOwner"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUsers">
            <http:operation location="addUsers"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeCircleAttribute">
            <http:operation location="removeCircleAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeCircleProfile">
            <http:operation location="changeCircleProfile"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="joinCircle">
            <http:operation location="joinCircle"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeUsers">
            <http:operation location="removeUsers"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <http:operation location="getValidPermissions"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePermissions">
            <http:operation location="changePermissions"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <http:operation location="getProfileDescription"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modifyCircleAttribute">
            <http:operation location="modifyCircleAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Circles">
        <wsdl:port name="CirclesHttpsSoap11Endpoint" binding="tns:CirclesSoap11Binding">
            <soap:address location="https://192.168.56.103:52323/axis2/services/Circles.CirclesHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CirclesHttpsSoap12Endpoint" binding="tns:CirclesSoap12Binding">
            <soap12:address location="https://192.168.56.103:52323/axis2/services/Circles.CirclesHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CirclesHttpsEndpoint" binding="tns:CirclesHttpBinding">
            <http:address location="https://192.168.56.103:52323/axis2/services/Circles.CirclesHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
