src/wsdl/Experiments.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://api.testbed.deterlab/net/">
    <wsdl:documentation>Experiments</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
            <xs:element name="ExperimentsDeterFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="DeterFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getExperimentProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExperimentProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ApiObject">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="Profile">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="ns:Attribute"/>
                            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Attribute">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="formatDescription" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="lengthHint" type="xs:int"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="orderingHint" type="xs:int"/>
                            <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="changeExperimentProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="changes" nillable="true" type="ns:ChangeAttribute"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ChangeAttribute">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="delete" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="changeExperimentProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ChangeResult">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="createExperiment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="aspects" nillable="true" type="ns:ExperimentAspect"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="accessLists" nillable="true" type="ns:AccessMember"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profile" nillable="true" type="ns:Attribute"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ExperimentAspect">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary"/>
                            <xs:element minOccurs="0" name="dataReference" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="subType" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="AccessMember">
                <xs:sequence>
                    <xs:element minOccurs="0" name="circleId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="createExperimentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeExperimentAspects">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="aspects" nillable="true" type="ns:ExperimentAspect"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeExperimentAspectsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addExperimentAspects">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="aspects" nillable="true" type="ns:ExperimentAspect"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addExperimentAspectsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeExperimentAspects">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="aspects" nillable="true" type="ns:ExperimentAspect"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeExperimentAspectsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeExperimentACL">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="acl" nillable="true" type="ns:AccessMember"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeExperimentACLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeExperiment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeExperimentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="realizeExperiment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="acl" nillable="true" type="ns:AccessMember"/>
                        <xs:element minOccurs="0" name="sendNotifications" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="realizeExperimentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:RealizationDescription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="RealizationDescription">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ACL" nillable="true" type="ns:AccessMember"/>
                            <xs:element minOccurs="0" name="circle" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="containment" nillable="true" type="ns:RealizationContainment"/>
                            <xs:element minOccurs="0" name="experiment" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="mapping" nillable="true" type="ns:RealizationMap"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="perms" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RealizationContainment">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="inner" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="outer" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RealizationMap">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="resource" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="topologyName" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="viewExperiments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lib" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="regex" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="queryAspects" nillable="true" type="ns:ExperimentAspect"/>
                        <xs:element minOccurs="0" name="listOnly" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="offset" type="xs:int"/>
                        <xs:element minOccurs="0" name="count" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewExperimentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ExperimentDescription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ExperimentDescription">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ACL" nillable="true" type="ns:AccessMember"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="aspects" nillable="true" type="ns:ExperimentAspect"/>
                            <xs:element minOccurs="0" name="experimentId" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="perms" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="setOwner">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setOwnerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createExperimentAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formatdescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="order" type="xs:int"/>
                        <xs:element minOccurs="0" name="length" type="xs:int"/>
                        <xs:element minOccurs="0" name="def" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createExperimentAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyExperimentAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formatdescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="order" type="xs:int"/>
                        <xs:element minOccurs="0" name="length" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyExperimentAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeExperimentAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeExperimentAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidPermissions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidPermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileDescription">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileDescriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createExperimentRequest">
        <wsdl:part name="parameters" element="ns:createExperiment"/>
    </wsdl:message>
    <wsdl:message name="createExperimentResponse">
        <wsdl:part name="parameters" element="ns:createExperimentResponse"/>
    </wsdl:message>
    <wsdl:message name="ExperimentsDeterFault">
        <wsdl:part name="parameters" element="ns:ExperimentsDeterFault"/>
    </wsdl:message>
    <wsdl:message name="modifyExperimentAttributeRequest">
        <wsdl:part name="parameters" element="ns:modifyExperimentAttribute"/>
    </wsdl:message>
    <wsdl:message name="modifyExperimentAttributeResponse">
        <wsdl:part name="parameters" element="ns:modifyExperimentAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="createExperimentAttributeRequest">
        <wsdl:part name="parameters" element="ns:createExperimentAttribute"/>
    </wsdl:message>
    <wsdl:message name="createExperimentAttributeResponse">
        <wsdl:part name="parameters" element="ns:createExperimentAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="getExperimentProfileRequest">
        <wsdl:part name="parameters" element="ns:getExperimentProfile"/>
    </wsdl:message>
    <wsdl:message name="getExperimentProfileResponse">
        <wsdl:part name="parameters" element="ns:getExperimentProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="removeExperimentAttributeRequest">
        <wsdl:part name="parameters" element="ns:removeExperimentAttribute"/>
    </wsdl:message>
    <wsdl:message name="removeExperimentAttributeResponse">
        <wsdl:part name="parameters" element="ns:removeExperimentAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="removeExperimentAspectsRequest">
        <wsdl:part name="parameters" element="ns:removeExperimentAspects"/>
    </wsdl:message>
    <wsdl:message name="removeExperimentAspectsResponse">
        <wsdl:part name="parameters" element="ns:removeExperimentAspectsResponse"/>
    </wsdl:message>
    <wsdl:message name="viewExperimentsRequest">
        <wsdl:part name="parameters" element="ns:viewExperiments"/>
    </wsdl:message>
    <wsdl:message name="viewExperimentsResponse">
        <wsdl:part name="parameters" element="ns:viewExperimentsResponse"/>
    </wsdl:message>
    <wsdl:message name="changeExperimentACLRequest">
        <wsdl:part name="parameters" element="ns:changeExperimentACL"/>
    </wsdl:message>
    <wsdl:message name="changeExperimentACLResponse">
        <wsdl:part name="parameters" element="ns:changeExperimentACLResponse"/>
    </wsdl:message>
    <wsdl:message name="addExperimentAspectsRequest">
        <wsdl:part name="parameters" element="ns:addExperimentAspects"/>
    </wsdl:message>
    <wsdl:message name="addExperimentAspectsResponse">
        <wsdl:part name="parameters" element="ns:addExperimentAspectsResponse"/>
    </wsdl:message>
    <wsdl:message name="setOwnerRequest">
        <wsdl:part name="parameters" element="ns:setOwner"/>
    </wsdl:message>
    <wsdl:message name="setOwnerResponse">
        <wsdl:part name="parameters" element="ns:setOwnerResponse"/>
    </wsdl:message>
    <wsdl:message name="realizeExperimentRequest">
        <wsdl:part name="parameters" element="ns:realizeExperiment"/>
    </wsdl:message>
    <wsdl:message name="realizeExperimentResponse">
        <wsdl:part name="parameters" element="ns:realizeExperimentResponse"/>
    </wsdl:message>
    <wsdl:message name="changeExperimentProfileRequest">
        <wsdl:part name="parameters" element="ns:changeExperimentProfile"/>
    </wsdl:message>
    <wsdl:message name="changeExperimentProfileResponse">
        <wsdl:part name="parameters" element="ns:changeExperimentProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="getValidPermissionsRequest">
        <wsdl:part name="parameters" element="ns:getValidPermissions"/>
    </wsdl:message>
    <wsdl:message name="getValidPermissionsResponse">
        <wsdl:part name="parameters" element="ns:getValidPermissionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getProfileDescriptionRequest">
        <wsdl:part name="parameters" element="ns:getProfileDescription"/>
    </wsdl:message>
    <wsdl:message name="getProfileDescriptionResponse">
        <wsdl:part name="parameters" element="ns:getProfileDescriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="removeExperimentRequest">
        <wsdl:part name="parameters" element="ns:removeExperiment"/>
    </wsdl:message>
    <wsdl:message name="removeExperimentResponse">
        <wsdl:part name="parameters" element="ns:removeExperimentResponse"/>
    </wsdl:message>
    <wsdl:message name="changeExperimentAspectsRequest">
        <wsdl:part name="parameters" element="ns:changeExperimentAspects"/>
    </wsdl:message>
    <wsdl:message name="changeExperimentAspectsResponse">
        <wsdl:part name="parameters" element="ns:changeExperimentAspectsResponse"/>
    </wsdl:message>
    <wsdl:portType name="ExperimentsPortType">
        <wsdl:operation name="createExperiment">
            <wsdl:input message="tns:createExperimentRequest" wsaw:Action="urn:createExperiment"/>
            <wsdl:output message="tns:createExperimentResponse" wsaw:Action="urn:createExperimentResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:createExperimentExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="modifyExperimentAttribute">
            <wsdl:input message="tns:modifyExperimentAttributeRequest" wsaw:Action="urn:modifyExperimentAttribute"/>
            <wsdl:output message="tns:modifyExperimentAttributeResponse" wsaw:Action="urn:modifyExperimentAttributeResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:modifyExperimentAttributeExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="createExperimentAttribute">
            <wsdl:input message="tns:createExperimentAttributeRequest" wsaw:Action="urn:createExperimentAttribute"/>
            <wsdl:output message="tns:createExperimentAttributeResponse" wsaw:Action="urn:createExperimentAttributeResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:createExperimentAttributeExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getExperimentProfile">
            <wsdl:input message="tns:getExperimentProfileRequest" wsaw:Action="urn:getExperimentProfile"/>
            <wsdl:output message="tns:getExperimentProfileResponse" wsaw:Action="urn:getExperimentProfileResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:getExperimentProfileExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeExperimentAttribute">
            <wsdl:input message="tns:removeExperimentAttributeRequest" wsaw:Action="urn:removeExperimentAttribute"/>
            <wsdl:output message="tns:removeExperimentAttributeResponse" wsaw:Action="urn:removeExperimentAttributeResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:removeExperimentAttributeExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeExperimentAspects">
            <wsdl:input message="tns:removeExperimentAspectsRequest" wsaw:Action="urn:removeExperimentAspects"/>
            <wsdl:output message="tns:removeExperimentAspectsResponse" wsaw:Action="urn:removeExperimentAspectsResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:removeExperimentAspectsExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="viewExperiments">
            <wsdl:input message="tns:viewExperimentsRequest" wsaw:Action="urn:viewExperiments"/>
            <wsdl:output message="tns:viewExperimentsResponse" wsaw:Action="urn:viewExperimentsResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:viewExperimentsExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentACL">
            <wsdl:input message="tns:changeExperimentACLRequest" wsaw:Action="urn:changeExperimentACL"/>
            <wsdl:output message="tns:changeExperimentACLResponse" wsaw:Action="urn:changeExperimentACLResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:changeExperimentACLExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="addExperimentAspects">
            <wsdl:input message="tns:addExperimentAspectsRequest" wsaw:Action="urn:addExperimentAspects"/>
            <wsdl:output message="tns:addExperimentAspectsResponse" wsaw:Action="urn:addExperimentAspectsResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:addExperimentAspectsExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <wsdl:input message="tns:setOwnerRequest" wsaw:Action="urn:setOwner"/>
            <wsdl:output message="tns:setOwnerResponse" wsaw:Action="urn:setOwnerResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:setOwnerExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="realizeExperiment">
            <wsdl:input message="tns:realizeExperimentRequest" wsaw:Action="urn:realizeExperiment"/>
            <wsdl:output message="tns:realizeExperimentResponse" wsaw:Action="urn:realizeExperimentResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:realizeExperimentExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentProfile">
            <wsdl:input message="tns:changeExperimentProfileRequest" wsaw:Action="urn:changeExperimentProfile"/>
            <wsdl:output message="tns:changeExperimentProfileResponse" wsaw:Action="urn:changeExperimentProfileResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:changeExperimentProfileExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <wsdl:input message="tns:getValidPermissionsRequest" wsaw:Action="urn:getValidPermissions"/>
            <wsdl:output message="tns:getValidPermissionsResponse" wsaw:Action="urn:getValidPermissionsResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:getValidPermissionsExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <wsdl:input message="tns:getProfileDescriptionRequest" wsaw:Action="urn:getProfileDescription"/>
            <wsdl:output message="tns:getProfileDescriptionResponse" wsaw:Action="urn:getProfileDescriptionResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:getProfileDescriptionExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeExperiment">
            <wsdl:input message="tns:removeExperimentRequest" wsaw:Action="urn:removeExperiment"/>
            <wsdl:output message="tns:removeExperimentResponse" wsaw:Action="urn:removeExperimentResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:removeExperimentExperimentsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentAspects">
            <wsdl:input message="tns:changeExperimentAspectsRequest" wsaw:Action="urn:changeExperimentAspects"/>
            <wsdl:output message="tns:changeExperimentAspectsResponse" wsaw:Action="urn:changeExperimentAspectsResponse"/>
            <wsdl:fault message="tns:ExperimentsDeterFault" name="ExperimentsDeterFault" wsaw:Action="urn:changeExperimentAspectsExperimentsDeterFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExperimentsSoap11Binding" type="tns:ExperimentsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createExperiment">
            <soap:operation soapAction="urn:createExperiment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyExperimentAttribute">
            <soap:operation soapAction="urn:modifyExperimentAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExperimentAttribute">
            <soap:operation soapAction="urn:createExperimentAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getExperimentProfile">
            <soap:operation soapAction="urn:getExperimentProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeExperimentAttribute">
            <soap:operation soapAction="urn:removeExperimentAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeExperimentAspects">
            <soap:operation soapAction="urn:removeExperimentAspects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="viewExperiments">
            <soap:operation soapAction="urn:viewExperiments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentACL">
            <soap:operation soapAction="urn:changeExperimentACL" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addExperimentAspects">
            <soap:operation soapAction="urn:addExperimentAspects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <soap:operation soapAction="urn:setOwner" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="realizeExperiment">
            <soap:operation soapAction="urn:realizeExperiment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentProfile">
            <soap:operation soapAction="urn:changeExperimentProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <soap:operation soapAction="urn:getValidPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <soap:operation soapAction="urn:getProfileDescription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeExperiment">
            <soap:operation soapAction="urn:removeExperiment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentAspects">
            <soap:operation soapAction="urn:changeExperimentAspects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExperimentsSoap12Binding" type="tns:ExperimentsPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createExperiment">
            <soap12:operation soapAction="urn:createExperiment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyExperimentAttribute">
            <soap12:operation soapAction="urn:modifyExperimentAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExperimentAttribute">
            <soap12:operation soapAction="urn:createExperimentAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getExperimentProfile">
            <soap12:operation soapAction="urn:getExperimentProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeExperimentAttribute">
            <soap12:operation soapAction="urn:removeExperimentAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeExperimentAspects">
            <soap12:operation soapAction="urn:removeExperimentAspects" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="viewExperiments">
            <soap12:operation soapAction="urn:viewExperiments" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentACL">
            <soap12:operation soapAction="urn:changeExperimentACL" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addExperimentAspects">
            <soap12:operation soapAction="urn:addExperimentAspects" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <soap12:operation soapAction="urn:setOwner" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="realizeExperiment">
            <soap12:operation soapAction="urn:realizeExperiment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentProfile">
            <soap12:operation soapAction="urn:changeExperimentProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <soap12:operation soapAction="urn:getValidPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <soap12:operation soapAction="urn:getProfileDescription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeExperiment">
            <soap12:operation soapAction="urn:removeExperiment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentAspects">
            <soap12:operation soapAction="urn:changeExperimentAspects" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExperimentsDeterFault">
                <soap12:fault use="literal" name="ExperimentsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExperimentsHttpBinding" type="tns:ExperimentsPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createExperiment">
            <http:operation location="createExperiment"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modifyExperimentAttribute">
            <http:operation location="modifyExperimentAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createExperimentAttribute">
            <http:operation location="createExperimentAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExperimentProfile">
            <http:operation location="getExperimentProfile"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeExperimentAttribute">
            <http:operation location="removeExperimentAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeExperimentAspects">
            <http:operation location="removeExperimentAspects"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewExperiments">
            <http:operation location="viewExperiments"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentACL">
            <http:operation location="changeExperimentACL"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addExperimentAspects">
            <http:operation location="addExperimentAspects"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <http:operation location="setOwner"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="realizeExperiment">
            <http:operation location="realizeExperiment"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentProfile">
            <http:operation location="changeExperimentProfile"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <http:operation location="getValidPermissions"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <http:operation location="getProfileDescription"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeExperiment">
            <http:operation location="removeExperiment"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeExperimentAspects">
            <http:operation location="changeExperimentAspects"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Experiments">
        <wsdl:port name="ExperimentsHttpsSoap11Endpoint" binding="tns:ExperimentsSoap11Binding">
            <soap:address location="https://192.168.56.103:52323/axis2/services/Experiments.ExperimentsHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ExperimentsHttpsSoap12Endpoint" binding="tns:ExperimentsSoap12Binding">
            <soap12:address location="https://192.168.56.103:52323/axis2/services/Experiments.ExperimentsHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ExperimentsHttpsEndpoint" binding="tns:ExperimentsHttpBinding">
            <http:address location="https://192.168.56.103:52323/axis2/services/Experiments.ExperimentsHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
