src/wsdl/Libraries.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://api.testbed.deterlab/net/">
    <wsdl:documentation>Libraries</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
            <xs:element name="LibrariesDeterFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="DeterFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getLibraryProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLibraryProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ApiObject">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="Profile">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="ns:Attribute"/>
                            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Attribute">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="formatDescription" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="lengthHint" type="xs:int"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="orderingHint" type="xs:int"/>
                            <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="changeLibraryProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="changes" nillable="true" type="ns:ChangeAttribute"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ChangeAttribute">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="delete" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="changeLibraryProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ChangeResult">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="createLibraryAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formatdescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="order" type="xs:int"/>
                        <xs:element minOccurs="0" name="length" type="xs:int"/>
                        <xs:element minOccurs="0" name="def" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createLibraryAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyLibraryAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formatdescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="order" type="xs:int"/>
                        <xs:element minOccurs="0" name="length" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyLibraryAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeLibraryAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeLibraryAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="eids" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="accessLists" nillable="true" type="ns:AccessMember"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profile" nillable="true" type="ns:Attribute"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="AccessMember">
                <xs:sequence>
                    <xs:element minOccurs="0" name="circleId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="createLibraryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeLibraryExperiments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="eids" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeLibraryExperimentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addLibraryExperiments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="eids" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addLibraryExperimentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeLibraryACL">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="acl" nillable="true" type="ns:AccessMember"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeLibraryACLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeLibraryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewLibraries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="regex" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="offset" type="xs:int"/>
                        <xs:element minOccurs="0" name="count" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewLibrariesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:LibraryDescription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="LibraryDescription">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ACL" nillable="true" type="ns:AccessMember"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="experiments" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="libraryId" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="perms" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="setOwner">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setOwnerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidPermissions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidPermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileDescription">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileDescriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getLibraryProfileRequest">
        <wsdl:part name="parameters" element="ns:getLibraryProfile"/>
    </wsdl:message>
    <wsdl:message name="getLibraryProfileResponse">
        <wsdl:part name="parameters" element="ns:getLibraryProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="LibrariesDeterFault">
        <wsdl:part name="parameters" element="ns:LibrariesDeterFault"/>
    </wsdl:message>
    <wsdl:message name="addLibraryExperimentsRequest">
        <wsdl:part name="parameters" element="ns:addLibraryExperiments"/>
    </wsdl:message>
    <wsdl:message name="addLibraryExperimentsResponse">
        <wsdl:part name="parameters" element="ns:addLibraryExperimentsResponse"/>
    </wsdl:message>
    <wsdl:message name="removeLibraryExperimentsRequest">
        <wsdl:part name="parameters" element="ns:removeLibraryExperiments"/>
    </wsdl:message>
    <wsdl:message name="removeLibraryExperimentsResponse">
        <wsdl:part name="parameters" element="ns:removeLibraryExperimentsResponse"/>
    </wsdl:message>
    <wsdl:message name="changeLibraryACLRequest">
        <wsdl:part name="parameters" element="ns:changeLibraryACL"/>
    </wsdl:message>
    <wsdl:message name="changeLibraryACLResponse">
        <wsdl:part name="parameters" element="ns:changeLibraryACLResponse"/>
    </wsdl:message>
    <wsdl:message name="setOwnerRequest">
        <wsdl:part name="parameters" element="ns:setOwner"/>
    </wsdl:message>
    <wsdl:message name="setOwnerResponse">
        <wsdl:part name="parameters" element="ns:setOwnerResponse"/>
    </wsdl:message>
    <wsdl:message name="removeLibraryAttributeRequest">
        <wsdl:part name="parameters" element="ns:removeLibraryAttribute"/>
    </wsdl:message>
    <wsdl:message name="removeLibraryAttributeResponse">
        <wsdl:part name="parameters" element="ns:removeLibraryAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="createLibraryRequest">
        <wsdl:part name="parameters" element="ns:createLibrary"/>
    </wsdl:message>
    <wsdl:message name="createLibraryResponse">
        <wsdl:part name="parameters" element="ns:createLibraryResponse"/>
    </wsdl:message>
    <wsdl:message name="modifyLibraryAttributeRequest">
        <wsdl:part name="parameters" element="ns:modifyLibraryAttribute"/>
    </wsdl:message>
    <wsdl:message name="modifyLibraryAttributeResponse">
        <wsdl:part name="parameters" element="ns:modifyLibraryAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="viewLibrariesRequest">
        <wsdl:part name="parameters" element="ns:viewLibraries"/>
    </wsdl:message>
    <wsdl:message name="viewLibrariesResponse">
        <wsdl:part name="parameters" element="ns:viewLibrariesResponse"/>
    </wsdl:message>
    <wsdl:message name="getValidPermissionsRequest">
        <wsdl:part name="parameters" element="ns:getValidPermissions"/>
    </wsdl:message>
    <wsdl:message name="getValidPermissionsResponse">
        <wsdl:part name="parameters" element="ns:getValidPermissionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getProfileDescriptionRequest">
        <wsdl:part name="parameters" element="ns:getProfileDescription"/>
    </wsdl:message>
    <wsdl:message name="getProfileDescriptionResponse">
        <wsdl:part name="parameters" element="ns:getProfileDescriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="changeLibraryProfileRequest">
        <wsdl:part name="parameters" element="ns:changeLibraryProfile"/>
    </wsdl:message>
    <wsdl:message name="changeLibraryProfileResponse">
        <wsdl:part name="parameters" element="ns:changeLibraryProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="createLibraryAttributeRequest">
        <wsdl:part name="parameters" element="ns:createLibraryAttribute"/>
    </wsdl:message>
    <wsdl:message name="createLibraryAttributeResponse">
        <wsdl:part name="parameters" element="ns:createLibraryAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="removeLibraryRequest">
        <wsdl:part name="parameters" element="ns:removeLibrary"/>
    </wsdl:message>
    <wsdl:message name="removeLibraryResponse">
        <wsdl:part name="parameters" element="ns:removeLibraryResponse"/>
    </wsdl:message>
    <wsdl:portType name="LibrariesPortType">
        <wsdl:operation name="getLibraryProfile">
            <wsdl:input message="tns:getLibraryProfileRequest" wsaw:Action="urn:getLibraryProfile"/>
            <wsdl:output message="tns:getLibraryProfileResponse" wsaw:Action="urn:getLibraryProfileResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:getLibraryProfileLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="addLibraryExperiments">
            <wsdl:input message="tns:addLibraryExperimentsRequest" wsaw:Action="urn:addLibraryExperiments"/>
            <wsdl:output message="tns:addLibraryExperimentsResponse" wsaw:Action="urn:addLibraryExperimentsResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:addLibraryExperimentsLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeLibraryExperiments">
            <wsdl:input message="tns:removeLibraryExperimentsRequest" wsaw:Action="urn:removeLibraryExperiments"/>
            <wsdl:output message="tns:removeLibraryExperimentsResponse" wsaw:Action="urn:removeLibraryExperimentsResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:removeLibraryExperimentsLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changeLibraryACL">
            <wsdl:input message="tns:changeLibraryACLRequest" wsaw:Action="urn:changeLibraryACL"/>
            <wsdl:output message="tns:changeLibraryACLResponse" wsaw:Action="urn:changeLibraryACLResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:changeLibraryACLLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <wsdl:input message="tns:setOwnerRequest" wsaw:Action="urn:setOwner"/>
            <wsdl:output message="tns:setOwnerResponse" wsaw:Action="urn:setOwnerResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:setOwnerLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeLibraryAttribute">
            <wsdl:input message="tns:removeLibraryAttributeRequest" wsaw:Action="urn:removeLibraryAttribute"/>
            <wsdl:output message="tns:removeLibraryAttributeResponse" wsaw:Action="urn:removeLibraryAttributeResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:removeLibraryAttributeLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="createLibrary">
            <wsdl:input message="tns:createLibraryRequest" wsaw:Action="urn:createLibrary"/>
            <wsdl:output message="tns:createLibraryResponse" wsaw:Action="urn:createLibraryResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:createLibraryLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="modifyLibraryAttribute">
            <wsdl:input message="tns:modifyLibraryAttributeRequest" wsaw:Action="urn:modifyLibraryAttribute"/>
            <wsdl:output message="tns:modifyLibraryAttributeResponse" wsaw:Action="urn:modifyLibraryAttributeResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:modifyLibraryAttributeLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="viewLibraries">
            <wsdl:input message="tns:viewLibrariesRequest" wsaw:Action="urn:viewLibraries"/>
            <wsdl:output message="tns:viewLibrariesResponse" wsaw:Action="urn:viewLibrariesResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:viewLibrariesLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <wsdl:input message="tns:getValidPermissionsRequest" wsaw:Action="urn:getValidPermissions"/>
            <wsdl:output message="tns:getValidPermissionsResponse" wsaw:Action="urn:getValidPermissionsResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:getValidPermissionsLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <wsdl:input message="tns:getProfileDescriptionRequest" wsaw:Action="urn:getProfileDescription"/>
            <wsdl:output message="tns:getProfileDescriptionResponse" wsaw:Action="urn:getProfileDescriptionResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:getProfileDescriptionLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changeLibraryProfile">
            <wsdl:input message="tns:changeLibraryProfileRequest" wsaw:Action="urn:changeLibraryProfile"/>
            <wsdl:output message="tns:changeLibraryProfileResponse" wsaw:Action="urn:changeLibraryProfileResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:changeLibraryProfileLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="createLibraryAttribute">
            <wsdl:input message="tns:createLibraryAttributeRequest" wsaw:Action="urn:createLibraryAttribute"/>
            <wsdl:output message="tns:createLibraryAttributeResponse" wsaw:Action="urn:createLibraryAttributeResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:createLibraryAttributeLibrariesDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeLibrary">
            <wsdl:input message="tns:removeLibraryRequest" wsaw:Action="urn:removeLibrary"/>
            <wsdl:output message="tns:removeLibraryResponse" wsaw:Action="urn:removeLibraryResponse"/>
            <wsdl:fault message="tns:LibrariesDeterFault" name="LibrariesDeterFault" wsaw:Action="urn:removeLibraryLibrariesDeterFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LibrariesSoap11Binding" type="tns:LibrariesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getLibraryProfile">
            <soap:operation soapAction="urn:getLibraryProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addLibraryExperiments">
            <soap:operation soapAction="urn:addLibraryExperiments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeLibraryExperiments">
            <soap:operation soapAction="urn:removeLibraryExperiments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeLibraryACL">
            <soap:operation soapAction="urn:changeLibraryACL" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <soap:operation soapAction="urn:setOwner" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeLibraryAttribute">
            <soap:operation soapAction="urn:removeLibraryAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLibrary">
            <soap:operation soapAction="urn:createLibrary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyLibraryAttribute">
            <soap:operation soapAction="urn:modifyLibraryAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="viewLibraries">
            <soap:operation soapAction="urn:viewLibraries" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <soap:operation soapAction="urn:getValidPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <soap:operation soapAction="urn:getProfileDescription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeLibraryProfile">
            <soap:operation soapAction="urn:changeLibraryProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLibraryAttribute">
            <soap:operation soapAction="urn:createLibraryAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeLibrary">
            <soap:operation soapAction="urn:removeLibrary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LibrariesSoap12Binding" type="tns:LibrariesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getLibraryProfile">
            <soap12:operation soapAction="urn:getLibraryProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addLibraryExperiments">
            <soap12:operation soapAction="urn:addLibraryExperiments" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeLibraryExperiments">
            <soap12:operation soapAction="urn:removeLibraryExperiments" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeLibraryACL">
            <soap12:operation soapAction="urn:changeLibraryACL" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <soap12:operation soapAction="urn:setOwner" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeLibraryAttribute">
            <soap12:operation soapAction="urn:removeLibraryAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLibrary">
            <soap12:operation soapAction="urn:createLibrary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyLibraryAttribute">
            <soap12:operation soapAction="urn:modifyLibraryAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="viewLibraries">
            <soap12:operation soapAction="urn:viewLibraries" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <soap12:operation soapAction="urn:getValidPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <soap12:operation soapAction="urn:getProfileDescription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeLibraryProfile">
            <soap12:operation soapAction="urn:changeLibraryProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLibraryAttribute">
            <soap12:operation soapAction="urn:createLibraryAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeLibrary">
            <soap12:operation soapAction="urn:removeLibrary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LibrariesDeterFault">
                <soap12:fault use="literal" name="LibrariesDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LibrariesHttpBinding" type="tns:LibrariesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getLibraryProfile">
            <http:operation location="getLibraryProfile"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addLibraryExperiments">
            <http:operation location="addLibraryExperiments"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeLibraryExperiments">
            <http:operation location="removeLibraryExperiments"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeLibraryACL">
            <http:operation location="changeLibraryACL"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setOwner">
            <http:operation location="setOwner"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeLibraryAttribute">
            <http:operation location="removeLibraryAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLibrary">
            <http:operation location="createLibrary"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modifyLibraryAttribute">
            <http:operation location="modifyLibraryAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewLibraries">
            <http:operation location="viewLibraries"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <http:operation location="getValidPermissions"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <http:operation location="getProfileDescription"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeLibraryProfile">
            <http:operation location="changeLibraryProfile"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLibraryAttribute">
            <http:operation location="createLibraryAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeLibrary">
            <http:operation location="removeLibrary"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Libraries">
        <wsdl:port name="LibrariesHttpsSoap11Endpoint" binding="tns:LibrariesSoap11Binding">
            <soap:address location="https://192.168.56.103:52323/axis2/services/Libraries.LibrariesHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LibrariesHttpsSoap12Endpoint" binding="tns:LibrariesSoap12Binding">
            <soap12:address location="https://192.168.56.103:52323/axis2/services/Libraries.LibrariesHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LibrariesHttpsEndpoint" binding="tns:LibrariesHttpBinding">
            <http:address location="https://192.168.56.103:52323/axis2/services/Libraries.LibrariesHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
