src/wsdl/Realizations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://api.testbed.deterlab/net/">
    <wsdl:documentation>Realizations</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
            <xs:element name="RealizationsDeterFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="DeterFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="changeRealizationACL">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="acl" nillable="true" type="ns:AccessMember"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="AccessMember">
                <xs:sequence>
                    <xs:element minOccurs="0" name="circleId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="changeRealizationACLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ApiObject">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ChangeResult">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="releaseRealization">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="releaseRealizationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:RealizationDescription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="RealizationDescription">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ACL" nillable="true" type="ns:AccessMember"/>
                            <xs:element minOccurs="0" name="circle" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="containment" nillable="true" type="ns:RealizationContainment"/>
                            <xs:element minOccurs="0" name="experiment" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="mapping" nillable="true" type="ns:RealizationMap"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="perms" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RealizationContainment">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="inner" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="outer" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RealizationMap">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="resource" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="topologyName" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="removeRealization">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeRealizationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewRealizations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="regex" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="offset" type="xs:int"/>
                        <xs:element minOccurs="0" name="count" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewRealizationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:RealizationDescription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidPermissions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidPermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="changeRealizationACLRequest">
        <wsdl:part name="parameters" element="ns:changeRealizationACL"/>
    </wsdl:message>
    <wsdl:message name="changeRealizationACLResponse">
        <wsdl:part name="parameters" element="ns:changeRealizationACLResponse"/>
    </wsdl:message>
    <wsdl:message name="RealizationsDeterFault">
        <wsdl:part name="parameters" element="ns:RealizationsDeterFault"/>
    </wsdl:message>
    <wsdl:message name="removeRealizationRequest">
        <wsdl:part name="parameters" element="ns:removeRealization"/>
    </wsdl:message>
    <wsdl:message name="removeRealizationResponse">
        <wsdl:part name="parameters" element="ns:removeRealizationResponse"/>
    </wsdl:message>
    <wsdl:message name="viewRealizationsRequest">
        <wsdl:part name="parameters" element="ns:viewRealizations"/>
    </wsdl:message>
    <wsdl:message name="viewRealizationsResponse">
        <wsdl:part name="parameters" element="ns:viewRealizationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getValidPermissionsRequest">
        <wsdl:part name="parameters" element="ns:getValidPermissions"/>
    </wsdl:message>
    <wsdl:message name="getValidPermissionsResponse">
        <wsdl:part name="parameters" element="ns:getValidPermissionsResponse"/>
    </wsdl:message>
    <wsdl:message name="releaseRealizationRequest">
        <wsdl:part name="parameters" element="ns:releaseRealization"/>
    </wsdl:message>
    <wsdl:message name="releaseRealizationResponse">
        <wsdl:part name="parameters" element="ns:releaseRealizationResponse"/>
    </wsdl:message>
    <wsdl:portType name="RealizationsPortType">
        <wsdl:operation name="changeRealizationACL">
            <wsdl:input message="tns:changeRealizationACLRequest" wsaw:Action="urn:changeRealizationACL"/>
            <wsdl:output message="tns:changeRealizationACLResponse" wsaw:Action="urn:changeRealizationACLResponse"/>
            <wsdl:fault message="tns:RealizationsDeterFault" name="RealizationsDeterFault" wsaw:Action="urn:changeRealizationACLRealizationsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeRealization">
            <wsdl:input message="tns:removeRealizationRequest" wsaw:Action="urn:removeRealization"/>
            <wsdl:output message="tns:removeRealizationResponse" wsaw:Action="urn:removeRealizationResponse"/>
            <wsdl:fault message="tns:RealizationsDeterFault" name="RealizationsDeterFault" wsaw:Action="urn:removeRealizationRealizationsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="viewRealizations">
            <wsdl:input message="tns:viewRealizationsRequest" wsaw:Action="urn:viewRealizations"/>
            <wsdl:output message="tns:viewRealizationsResponse" wsaw:Action="urn:viewRealizationsResponse"/>
            <wsdl:fault message="tns:RealizationsDeterFault" name="RealizationsDeterFault" wsaw:Action="urn:viewRealizationsRealizationsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <wsdl:input message="tns:getValidPermissionsRequest" wsaw:Action="urn:getValidPermissions"/>
            <wsdl:output message="tns:getValidPermissionsResponse" wsaw:Action="urn:getValidPermissionsResponse"/>
            <wsdl:fault message="tns:RealizationsDeterFault" name="RealizationsDeterFault" wsaw:Action="urn:getValidPermissionsRealizationsDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="releaseRealization">
            <wsdl:input message="tns:releaseRealizationRequest" wsaw:Action="urn:releaseRealization"/>
            <wsdl:output message="tns:releaseRealizationResponse" wsaw:Action="urn:releaseRealizationResponse"/>
            <wsdl:fault message="tns:RealizationsDeterFault" name="RealizationsDeterFault" wsaw:Action="urn:releaseRealizationRealizationsDeterFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RealizationsSoap11Binding" type="tns:RealizationsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="changeRealizationACL">
            <soap:operation soapAction="urn:changeRealizationACL" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeRealization">
            <soap:operation soapAction="urn:removeRealization" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="viewRealizations">
            <soap:operation soapAction="urn:viewRealizations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <soap:operation soapAction="urn:getValidPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="releaseRealization">
            <soap:operation soapAction="urn:releaseRealization" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RealizationsSoap12Binding" type="tns:RealizationsPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="changeRealizationACL">
            <soap12:operation soapAction="urn:changeRealizationACL" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap12:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeRealization">
            <soap12:operation soapAction="urn:removeRealization" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap12:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="viewRealizations">
            <soap12:operation soapAction="urn:viewRealizations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap12:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <soap12:operation soapAction="urn:getValidPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap12:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="releaseRealization">
            <soap12:operation soapAction="urn:releaseRealization" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RealizationsDeterFault">
                <soap12:fault use="literal" name="RealizationsDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RealizationsHttpBinding" type="tns:RealizationsPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="changeRealizationACL">
            <http:operation location="changeRealizationACL"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeRealization">
            <http:operation location="removeRealization"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewRealizations">
            <http:operation location="viewRealizations"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getValidPermissions">
            <http:operation location="getValidPermissions"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="releaseRealization">
            <http:operation location="releaseRealization"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Realizations">
        <wsdl:port name="RealizationsHttpsSoap11Endpoint" binding="tns:RealizationsSoap11Binding">
            <soap:address location="https://192.168.56.103:52323/axis2/services/Realizations.RealizationsHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RealizationsHttpsSoap12Endpoint" binding="tns:RealizationsSoap12Binding">
            <soap12:address location="https://192.168.56.103:52323/axis2/services/Realizations.RealizationsHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RealizationsHttpsEndpoint" binding="tns:RealizationsHttpBinding">
            <http:address location="https://192.168.56.103:52323/axis2/services/Realizations.RealizationsHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
