src/wsdl/Users.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://api.testbed.deterlab/net/">
    <wsdl:documentation>Users</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
            <xs:element name="UsersDeterFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="DeterFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="sendNotification">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="users" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="flags" nillable="true" type="ns:NotificationFlag"/>
                        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="NotificationFlag">
                <xs:sequence>
                    <xs:element minOccurs="0" name="isSet" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="sendNotificationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNotifications">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="flags" nillable="true" type="ns:NotificationFlag"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNotificationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:UserNotification"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ApiObject">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="UserNotification">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="body" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="flags" nillable="true" type="ns:NotificationFlag"/>
                            <xs:element minOccurs="0" name="id" type="xs:long"/>
                            <xs:element minOccurs="0" name="sent" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="logout">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="logoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profile" nillable="true" type="ns:Attribute"/>
                        <xs:element minOccurs="0" name="urlPrefix" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Attribute">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="formatDescription" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="lengthHint" type="xs:int"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="orderingHint" type="xs:int"/>
                            <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="createUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:CreateUserResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="CreateUserResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="identity" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="removeUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="requestChallenge">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="types" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="requestChallengeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:UserChallenge"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="UserChallenge">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="challengeID" type="xs:long"/>
                            <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary"/>
                            <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="validity" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="challengeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="responseData" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="challengeID" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="challengeResponseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Profile">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="ns:Attribute"/>
                            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="changeUserProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="changes" nillable="true" type="ns:ChangeAttribute"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ChangeAttribute">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="delete" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="changeUserProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ChangeResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ChangeResult">
                <xs:complexContent>
                    <xs:extension base="ns:ApiObject">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="requestPasswordReset">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="urlPrefix" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="requestPasswordResetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="newPass" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePasswordChallenge">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="challengeID" type="xs:long"/>
                        <xs:element minOccurs="0" name="newPass" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePasswordChallengeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserNoConfirm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profile" nillable="true" type="ns:Attribute"/>
                        <xs:element minOccurs="0" name="clearpassword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="hashtype" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserNoConfirmResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="markNotifications">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ids" type="xs:long"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="flags" nillable="true" type="ns:NotificationFlag"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="markNotificationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formatdescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="order" type="xs:int"/>
                        <xs:element minOccurs="0" name="length" type="xs:int"/>
                        <xs:element minOccurs="0" name="def" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyUserAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optional" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="access" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="formatdescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="order" type="xs:int"/>
                        <xs:element minOccurs="0" name="length" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyUserAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUserAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUserAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileDescription">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileDescriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="requestChallengeRequest">
        <wsdl:part name="parameters" element="ns:requestChallenge"/>
    </wsdl:message>
    <wsdl:message name="requestChallengeResponse">
        <wsdl:part name="parameters" element="ns:requestChallengeResponse"/>
    </wsdl:message>
    <wsdl:message name="UsersDeterFault">
        <wsdl:part name="parameters" element="ns:UsersDeterFault"/>
    </wsdl:message>
    <wsdl:message name="challengeResponseRequest">
        <wsdl:part name="parameters" element="ns:challengeResponse"/>
    </wsdl:message>
    <wsdl:message name="challengeResponseResponse">
        <wsdl:part name="parameters" element="ns:challengeResponseResponse"/>
    </wsdl:message>
    <wsdl:message name="changeUserProfileRequest">
        <wsdl:part name="parameters" element="ns:changeUserProfile"/>
    </wsdl:message>
    <wsdl:message name="changeUserProfileResponse">
        <wsdl:part name="parameters" element="ns:changeUserProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="getNotificationsRequest">
        <wsdl:part name="parameters" element="ns:getNotifications"/>
    </wsdl:message>
    <wsdl:message name="getNotificationsResponse">
        <wsdl:part name="parameters" element="ns:getNotificationsResponse"/>
    </wsdl:message>
    <wsdl:message name="modifyUserAttributeRequest">
        <wsdl:part name="parameters" element="ns:modifyUserAttribute"/>
    </wsdl:message>
    <wsdl:message name="modifyUserAttributeResponse">
        <wsdl:part name="parameters" element="ns:modifyUserAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="sendNotificationRequest">
        <wsdl:part name="parameters" element="ns:sendNotification"/>
    </wsdl:message>
    <wsdl:message name="sendNotificationResponse">
        <wsdl:part name="parameters" element="ns:sendNotificationResponse"/>
    </wsdl:message>
    <wsdl:message name="createUserNoConfirmRequest">
        <wsdl:part name="parameters" element="ns:createUserNoConfirm"/>
    </wsdl:message>
    <wsdl:message name="createUserNoConfirmResponse">
        <wsdl:part name="parameters" element="ns:createUserNoConfirmResponse"/>
    </wsdl:message>
    <wsdl:message name="markNotificationsRequest">
        <wsdl:part name="parameters" element="ns:markNotifications"/>
    </wsdl:message>
    <wsdl:message name="markNotificationsResponse">
        <wsdl:part name="parameters" element="ns:markNotificationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserProfileRequest">
        <wsdl:part name="parameters" element="ns:getUserProfile"/>
    </wsdl:message>
    <wsdl:message name="getUserProfileResponse">
        <wsdl:part name="parameters" element="ns:getUserProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="changePasswordRequest">
        <wsdl:part name="parameters" element="ns:changePassword"/>
    </wsdl:message>
    <wsdl:message name="changePasswordResponse">
        <wsdl:part name="parameters" element="ns:changePasswordResponse"/>
    </wsdl:message>
    <wsdl:message name="logoutRequest">
        <wsdl:part name="parameters" element="ns:logout"/>
    </wsdl:message>
    <wsdl:message name="logoutResponse">
        <wsdl:part name="parameters" element="ns:logoutResponse"/>
    </wsdl:message>
    <wsdl:message name="createUserAttributeRequest">
        <wsdl:part name="parameters" element="ns:createUserAttribute"/>
    </wsdl:message>
    <wsdl:message name="createUserAttributeResponse">
        <wsdl:part name="parameters" element="ns:createUserAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="removeUserRequest">
        <wsdl:part name="parameters" element="ns:removeUser"/>
    </wsdl:message>
    <wsdl:message name="removeUserResponse">
        <wsdl:part name="parameters" element="ns:removeUserResponse"/>
    </wsdl:message>
    <wsdl:message name="changePasswordChallengeRequest">
        <wsdl:part name="parameters" element="ns:changePasswordChallenge"/>
    </wsdl:message>
    <wsdl:message name="changePasswordChallengeResponse">
        <wsdl:part name="parameters" element="ns:changePasswordChallengeResponse"/>
    </wsdl:message>
    <wsdl:message name="removeUserAttributeRequest">
        <wsdl:part name="parameters" element="ns:removeUserAttribute"/>
    </wsdl:message>
    <wsdl:message name="removeUserAttributeResponse">
        <wsdl:part name="parameters" element="ns:removeUserAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="createUserRequest">
        <wsdl:part name="parameters" element="ns:createUser"/>
    </wsdl:message>
    <wsdl:message name="createUserResponse">
        <wsdl:part name="parameters" element="ns:createUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getProfileDescriptionRequest">
        <wsdl:part name="parameters" element="ns:getProfileDescription"/>
    </wsdl:message>
    <wsdl:message name="getProfileDescriptionResponse">
        <wsdl:part name="parameters" element="ns:getProfileDescriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="requestPasswordResetRequest">
        <wsdl:part name="parameters" element="ns:requestPasswordReset"/>
    </wsdl:message>
    <wsdl:message name="requestPasswordResetResponse">
        <wsdl:part name="parameters" element="ns:requestPasswordResetResponse"/>
    </wsdl:message>
    <wsdl:portType name="UsersPortType">
        <wsdl:operation name="requestChallenge">
            <wsdl:input message="tns:requestChallengeRequest" wsaw:Action="urn:requestChallenge"/>
            <wsdl:output message="tns:requestChallengeResponse" wsaw:Action="urn:requestChallengeResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:requestChallengeUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="challengeResponse">
            <wsdl:input message="tns:challengeResponseRequest" wsaw:Action="urn:challengeResponse"/>
            <wsdl:output message="tns:challengeResponseResponse" wsaw:Action="urn:challengeResponseResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:challengeResponseUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changeUserProfile">
            <wsdl:input message="tns:changeUserProfileRequest" wsaw:Action="urn:changeUserProfile"/>
            <wsdl:output message="tns:changeUserProfileResponse" wsaw:Action="urn:changeUserProfileResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:changeUserProfileUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getNotifications">
            <wsdl:input message="tns:getNotificationsRequest" wsaw:Action="urn:getNotifications"/>
            <wsdl:output message="tns:getNotificationsResponse" wsaw:Action="urn:getNotificationsResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:getNotificationsUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="modifyUserAttribute">
            <wsdl:input message="tns:modifyUserAttributeRequest" wsaw:Action="urn:modifyUserAttribute"/>
            <wsdl:output message="tns:modifyUserAttributeResponse" wsaw:Action="urn:modifyUserAttributeResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:modifyUserAttributeUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="sendNotification">
            <wsdl:input message="tns:sendNotificationRequest" wsaw:Action="urn:sendNotification"/>
            <wsdl:output message="tns:sendNotificationResponse" wsaw:Action="urn:sendNotificationResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:sendNotificationUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="createUserNoConfirm">
            <wsdl:input message="tns:createUserNoConfirmRequest" wsaw:Action="urn:createUserNoConfirm"/>
            <wsdl:output message="tns:createUserNoConfirmResponse" wsaw:Action="urn:createUserNoConfirmResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:createUserNoConfirmUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="markNotifications">
            <wsdl:input message="tns:markNotificationsRequest" wsaw:Action="urn:markNotifications"/>
            <wsdl:output message="tns:markNotificationsResponse" wsaw:Action="urn:markNotificationsResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:markNotificationsUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <wsdl:input message="tns:getUserProfileRequest" wsaw:Action="urn:getUserProfile"/>
            <wsdl:output message="tns:getUserProfileResponse" wsaw:Action="urn:getUserProfileResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:getUserProfileUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <wsdl:input message="tns:changePasswordRequest" wsaw:Action="urn:changePassword"/>
            <wsdl:output message="tns:changePasswordResponse" wsaw:Action="urn:changePasswordResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:changePasswordUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="logout">
            <wsdl:input message="tns:logoutRequest" wsaw:Action="urn:logout"/>
            <wsdl:output message="tns:logoutResponse" wsaw:Action="urn:logoutResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:logoutUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="createUserAttribute">
            <wsdl:input message="tns:createUserAttributeRequest" wsaw:Action="urn:createUserAttribute"/>
            <wsdl:output message="tns:createUserAttributeResponse" wsaw:Action="urn:createUserAttributeResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:createUserAttributeUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeUser">
            <wsdl:input message="tns:removeUserRequest" wsaw:Action="urn:removeUser"/>
            <wsdl:output message="tns:removeUserResponse" wsaw:Action="urn:removeUserResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:removeUserUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="changePasswordChallenge">
            <wsdl:input message="tns:changePasswordChallengeRequest" wsaw:Action="urn:changePasswordChallenge"/>
            <wsdl:output message="tns:changePasswordChallengeResponse" wsaw:Action="urn:changePasswordChallengeResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:changePasswordChallengeUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="removeUserAttribute">
            <wsdl:input message="tns:removeUserAttributeRequest" wsaw:Action="urn:removeUserAttribute"/>
            <wsdl:output message="tns:removeUserAttributeResponse" wsaw:Action="urn:removeUserAttributeResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:removeUserAttributeUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <wsdl:input message="tns:createUserRequest" wsaw:Action="urn:createUser"/>
            <wsdl:output message="tns:createUserResponse" wsaw:Action="urn:createUserResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:createUserUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <wsdl:input message="tns:getProfileDescriptionRequest" wsaw:Action="urn:getProfileDescription"/>
            <wsdl:output message="tns:getProfileDescriptionResponse" wsaw:Action="urn:getProfileDescriptionResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:getProfileDescriptionUsersDeterFault"/>
        </wsdl:operation>
        <wsdl:operation name="requestPasswordReset">
            <wsdl:input message="tns:requestPasswordResetRequest" wsaw:Action="urn:requestPasswordReset"/>
            <wsdl:output message="tns:requestPasswordResetResponse" wsaw:Action="urn:requestPasswordResetResponse"/>
            <wsdl:fault message="tns:UsersDeterFault" name="UsersDeterFault" wsaw:Action="urn:requestPasswordResetUsersDeterFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UsersSoap11Binding" type="tns:UsersPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="requestChallenge">
            <soap:operation soapAction="urn:requestChallenge" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="challengeResponse">
            <soap:operation soapAction="urn:challengeResponse" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeUserProfile">
            <soap:operation soapAction="urn:changeUserProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNotifications">
            <soap:operation soapAction="urn:getNotifications" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyUserAttribute">
            <soap:operation soapAction="urn:modifyUserAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendNotification">
            <soap:operation soapAction="urn:sendNotification" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createUserNoConfirm">
            <soap:operation soapAction="urn:createUserNoConfirm" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="markNotifications">
            <soap:operation soapAction="urn:markNotifications" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <soap:operation soapAction="urn:getUserProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap:operation soapAction="urn:changePassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="logout">
            <soap:operation soapAction="urn:logout" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createUserAttribute">
            <soap:operation soapAction="urn:createUserAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeUser">
            <soap:operation soapAction="urn:removeUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePasswordChallenge">
            <soap:operation soapAction="urn:changePasswordChallenge" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeUserAttribute">
            <soap:operation soapAction="urn:removeUserAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <soap:operation soapAction="urn:createUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <soap:operation soapAction="urn:getProfileDescription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="requestPasswordReset">
            <soap:operation soapAction="urn:requestPasswordReset" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UsersSoap12Binding" type="tns:UsersPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="requestChallenge">
            <soap12:operation soapAction="urn:requestChallenge" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="challengeResponse">
            <soap12:operation soapAction="urn:challengeResponse" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeUserProfile">
            <soap12:operation soapAction="urn:changeUserProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNotifications">
            <soap12:operation soapAction="urn:getNotifications" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyUserAttribute">
            <soap12:operation soapAction="urn:modifyUserAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendNotification">
            <soap12:operation soapAction="urn:sendNotification" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createUserNoConfirm">
            <soap12:operation soapAction="urn:createUserNoConfirm" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="markNotifications">
            <soap12:operation soapAction="urn:markNotifications" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <soap12:operation soapAction="urn:getUserProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap12:operation soapAction="urn:changePassword" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="logout">
            <soap12:operation soapAction="urn:logout" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createUserAttribute">
            <soap12:operation soapAction="urn:createUserAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeUser">
            <soap12:operation soapAction="urn:removeUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePasswordChallenge">
            <soap12:operation soapAction="urn:changePasswordChallenge" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeUserAttribute">
            <soap12:operation soapAction="urn:removeUserAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <soap12:operation soapAction="urn:createUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <soap12:operation soapAction="urn:getProfileDescription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="requestPasswordReset">
            <soap12:operation soapAction="urn:requestPasswordReset" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UsersDeterFault">
                <soap12:fault use="literal" name="UsersDeterFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UsersHttpBinding" type="tns:UsersPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="requestChallenge">
            <http:operation location="requestChallenge"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="challengeResponse">
            <http:operation location="challengeResponse"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeUserProfile">
            <http:operation location="changeUserProfile"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNotifications">
            <http:operation location="getNotifications"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modifyUserAttribute">
            <http:operation location="modifyUserAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendNotification">
            <http:operation location="sendNotification"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUserNoConfirm">
            <http:operation location="createUserNoConfirm"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="markNotifications">
            <http:operation location="markNotifications"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <http:operation location="getUserProfile"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <http:operation location="changePassword"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logout">
            <http:operation location="logout"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUserAttribute">
            <http:operation location="createUserAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeUser">
            <http:operation location="removeUser"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePasswordChallenge">
            <http:operation location="changePasswordChallenge"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeUserAttribute">
            <http:operation location="removeUserAttribute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <http:operation location="createUser"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProfileDescription">
            <http:operation location="getProfileDescription"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="requestPasswordReset">
            <http:operation location="requestPasswordReset"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Users">
        <wsdl:port name="UsersHttpsSoap11Endpoint" binding="tns:UsersSoap11Binding">
            <soap:address location="https://192.168.56.103:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UsersHttpsSoap12Endpoint" binding="tns:UsersSoap12Binding">
            <soap12:address location="https://192.168.56.103:52323/axis2/services/Users.UsersHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UsersHttpsEndpoint" binding="tns:UsersHttpBinding">
            <http:address location="https://192.168.56.103:52323/axis2/services/Users.UsersHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
